body {
    font-family: quicksand, sans-serif;
    font-size: 15px;
    color: #222;
    background-color: #DDD;
    width: 1100px;
    margin: auto;

}

#content {
    margin: 10px 5px;
}

.icon {
    text-decoration: none;
    color: #222;
    font-size: 40px;
}

button.icon {
    background: none;
    cursor: pointer;
    font-size : 18px;
    border: none;
    margin: 0px;
    padding: 2px;
}

input.text {
    background-color: #DDD;
    font-size: 18px;
    font-family: quicksand, sans-serif;
    border: 0;
    outline: 1px solid #222;
    padding: 0 2px;
}

input.text:focus {
    background-color: white;
    outline: 0;
}

h1 {
    font-family: londrina-shadow, sans-serif;
    font-size: 58px;
    margin: 0;
    line-height: 1;
    font-weight: bold;
}

#left-panel {
    float: left;
    width: 40px;
}

#left-panel .icon {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

#right-panel h1 {
    height: 130px;
    padding: 0 0 0 2px;
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

p {
}

#screen {
    border: 5px solid #222;
    width: 700px;
    height: 393px;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white;
    overflow: hidden;
}

#right-panel {
    width: 320px;
    margin-left: 10px;
    float: left;
}

.panel {
    border: 5px solid #222;
    padding: 10px;
}

#add-element {
    height: 70px;
    margin-bottom: 10px;
}

#add-element input.text {
    width: 290px;
}

#options {
    float: left;
    height: 133px;
    width: 290px;
}

#options label {
    float: left;
    clear: both;
    width: 100px;
    font-size: 18px;
    padding-top: 3px;
    font-weight: bold;
}

#options input {
    width: 170px;
    float: right;
}

#play-controls {
    width: 50px;
    height: 60px;
    float: left;
    clear: both;
}

#play-controls .icon {
    margin: 11px -4px;
    font-size: 50px;
    display: block;
}

#scrubber {
    width: 1030px;
    border: 5px solid #222;
    height: 60px;
    float: left;
}

#screen .element {
    position: relative;
    height: 0;
}

#screen img {
    display: block;
    position: relative;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    top: 0;
    left: 0;
}

#zoom {
    clear: both;
    float: right;
    margin-top: 5px;
}

#zoom .reset.icon {
    font-weight: bold;
    font-size: 23px;
}

#zoom .icon {
    font-size: 20px;
    float: left;
    margin-left: 5px;
}



#automations {
    clear: both;
    position: absolute;
    top: 510px;
}

.automation {
    width: 1100px;
    height: 0px;
    float: left;
}

#automations .title {
    width: 40px;
    position: relative;
    top: 0;
    left: 0;
    height: 0;
}

#automations .timeline {
    width: 1030px;
    height: 50px;
    position: relative;
    left: 50px;
    top: 0;
    border: 5px solid black;
}

.automation-point {
    height: 5px;
    width: 5px;
    background-color: black;
    position: absolute;
}


.automation-group {
    height: 50px;
    margin-top: 20px;
}

.automation .title img {
    display: block;
}